body {
    font-family:Georgia, 'Times New Roman', serif;
    margin:1em 1em 1em 2em;
}

h1 {
    text-align:center;
}
/* REMEMBER TO RESIZE JOHN AT THE END SO HE LOOKS PERFECT!!!!!!*/
.mainBackground {
    background-image:url(johnwick4.jpg);
    background-repeat:no-repeat;
    background-position:right;
    background-size:550px 800px;
    margin-right:2em;
}

.desc {
    text-align:left;
    line-height:125%;
    width:45%;
    font-size:19px;
}

dt {
    font-weight:bold;
}

.tableScene {
    background-image:url(johnhasgun.jpg);
    background-repeat:no-repeat;
    height:300px;
    background-size:100% 100%;
}

nav {
    text-align:center;
    font-weight:bold;
}

nav a {
    text-decoration:none;
}

h3 {
    text-align:center;
}

footer p{
    font-style:italic;
    font-size:small;
}
