body {
    font-family:Georgia, 'Times New Roman', serif;
    margin:1em 1em 1em 2em;
    background: linear-gradient(#67666d, #c28529);
}

h1 {
    font-family:Verdana, Arial, sans-serif;
    text-align:center;
    font-weight:bold;

}

.cover {
    height:500px;
    background-image:url(johnwick4.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto 100%;
    margin:1em;
}

.desc {
    text-align:left;
    line-height:125%;
    font-size:19px;
}

dt {
    font-weight:bold;
    line-height:1.5em;
}

.tableScene {
    background-image:url(johnhasgun.jpg);
    background-repeat:no-repeat;
    height:300px;
    background-size:100% 100%;
}

nav {
    text-align:center;
    font-weight:bold;
}

nav a {
    text-decoration:none;
    font-style:normal;
    font-size:medium;
    color:#fcaa67;
}

footer a {
    text-decoration:none;
    font-style:normal;
    font-size:medium;
    color:#fcaa67;
}

h3 {
    text-align:center;
}

p {
    line-height:150%;
}

footer {
    font-weight:bold;
    font-style:italic;
    font-size:small;
    color:gray;
    text-align:center;
}

.linktowicks {
    color:#fcaa67;
}

.content {
    width:95%;
    box-shadow:3px 3px 3px #473335;
    color:#ffffc7;
    background-color:#473335;
    margin:auto;
    padding:2em;
}

.nocenterh3 {
    text-align:left;
}

a {
    text-decoration:none;
    font-style:normal;
    color:#fcaa67;
}

.cast {
    background-image:url(jw4cast.jpg);
    background-repeat:no-repeat;
    height:300px;
    max-width:100%; 
}

.imagebreak {
    height:300px;
    max-width:100%;
    background-image:url(cainechilling.webp);
    background-repeat:no-repeat;
    background-position:center;
}

.dragonbreath {
    height:500px;
    background-image:url(differentdb.webp);
    background-repeat:no-repeat;
    background-position:center;
}
